body{
	font-size: 16px;
	color:#fadcaa;
	background-color:#61122f;
	font-family:sans-serif;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

#header-nav{
	background-color: #f6b319;
	border-radius:0;
	border:0;
}

#companyname{
	font-color:#f6b319;
	font-size:30px;
}

.row{
	margin-left:10px;
	margin-right:10px;
}

.title{
	font-size:24px;
	text-align:center;
}

.contents{
	padding:15px;
}

.col-lg-12{
	background-color:#c56183;
	margin:10px;
}

.col-md-12{
	background-color:#c56183;
	margin:10px;
}

.col-sm-12{
	background-color:#c56183;
	margin:10px;
}
